{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="/">方学园</a></li>
    <li class="breadcrumb-item active">工地</li>
</ol>

<p>施工现场：<a href="https://github.com/greyli/fangschool" target="_blank">GitHub</a></p>
<p>当前施工进度：</p>

<div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 5%;" aria-valuenow="5"
        aria-valuemin="0" aria-valuemax="100"></div>
</div>


{% endblock %}